body {
    background-color: #9c27b0;
    color: #fff;
}

.search-bar {
    position: absolute;
    left: 40%;
    top:50vh;
}

#searchInput:focus {
    border-color: #d05ce3;
    box-shadow: 0 1px 30px #d05ce3;
}

#camel
{
    position:absolute;
    height: 200px;
    width: 188px;
    bottom:60px;
}

#camel__speechBubble {
    position:absolute;
    width: 200px;
    background-color: #fff;
    padding:5px 0;
    border-radius: 6px;
    color: #000;
    text-align: center;
    right:0;
    left:72%;
    bottom:155px;
}

#camel__speechBubble:after {
    content:"";
    position:absolute;
    right:100%;
    border-width:8px;
    margin-top: -8px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.modal-title {
    color: #9c27b0;
}

.close {
    color: #d05ce3;
}

.modal form label {
    color: #000;
}

.has-error {
    background-color: #6a0080;
}

.has-error .help-block, .has-error .control-label {
    color: #fff;
}

#backToHome{
    display:inline-block;
    margin-bottom: 20px;
    color: #fff !important;
    background-color: #d05ce3;
    padding:5px;
    text-decoration:none;
    border-radius: 4px;
 }

.addCategory--success {
    position: relative;
    top: 20%;
    background-color: #d05ce3;
    padding:5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#removeCategory {
    background-color: #6a0080;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

#removeCategory a {
    color: #fff;
    text-decoration: none;
}

.btn-color-primary {
    background-color: #9c27b0;
    border-color: #d05ce3;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.btn-black:hover {
    color: #d05ce3;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    margin: 0 !important;
    color:#fff;
    background-color: #000 !important;
    border-width:0 !important;
}

.ui-menu-item {
    width:100% !important;
}

.btn-color-primary:hover {
    color: #fff;
}

.btn-upload--cta {
    background-color: #d05ce3;
}

#loadModalAddCategory {
    background-color: #d05ce3;
    color:#fff;
    border:0;
}

table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    background-image: none !important;
}

.table-responsive {
    margin-top:50px;
    margin-bottom:30px;
}

.ui-menu {
    top:54vh !important;
}

.ui-menu-item {
    font-size:1.1em;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width:85%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .ui-menu {
        top:53vh !important;
    }
}
